.content{
    display: flex !important; 
    flex-direction: row !important;
    background-image: linear-gradient(30deg, #f3bdd3, #f596be, #f380b0, #e7508f) !important;
}

.spotify-button{
    margin-left: 20px;
    cursor: pointer;
    transition: .3s ease;
}

.spotify-button:hover{
    scale: 1.1;
}
